# Verification
Many of appiversity's features include public facing content about your institution.    <b>Departments</b> lets you publish listings of academic departments and faculty groups.  <b>Workflow</b> lets you publish forms that can be  distributed to outside users and electronically signed.  <b>Catalog</b> let's you publish your complete degree offerings and course listings, along with all of their attributes.
               
We want to make sure you (or someone else connected to the account) is <b>authorized</b> by your institution to create publicly accessible content.   
              
Verification is free, it is <b>only</b> used to ensure content you create is accurate and authorized by your institution.

## How do we verify your account?
We are asking for contact information of someone we can verify can speak for your institution.  This can be someone in an academic leadership position - like a Vice Provost, Provost, President, or Chancellor.  It can be a C-level executive, like a CIO/CTO, or the leader of a core academic unit, like the Registrar.  

We want to verify that this person's contact information is valid, and so we need a web address of a page that lists this person's contact information on institution's website.  This can be a directory page, a contact page, or a page that lists the institution's leadership.  

We can also use generic email addresses (provost@your-institution.edu), for example, as long as that email address is listed on the public web address you provide.
        
By the way, if <b>you</b> hold a leadership position at your institution, even better!  Just enter your own contact information on the verification form and a web address that we can use to verify your position, and we'll send you the verification email! 

## Starting the verification process
